// Colours
$very-light-grey: rgb(224, 224, 224);
$light-grey: rgb(190, 190, 190);
$grey: rgb(120, 120, 120);
$dark-grey: rgb(70, 70, 70);

$light-blue: rgb(200, 200, 255);
$blue: rgb(130, 130, 255);
$dark-blue: rgb(50, 50, 255);

// Dimensions
$pixel-size: 30px;
$border-thickness: 1px;

.main-container {
  display: flex;

  .game-board {
    height: $pixel-size * 20;
    width: $pixel-size * 10;

    background: $light-grey;
    border: $border-thickness solid $dark-grey;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .cell {
      height: $pixel-size - ($border-thickness * 2);
      width: $pixel-size - ($border-thickness * 2);

      background: $very-light-grey;
      border: $border-thickness solid $light-grey;
      // box-shadow: inset 1px 1px 1px $light-blue;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 9px;

      &:hover {
        background: $light-blue;
        border-color: $dark-blue;

        cursor: pointer;
      }

      &.black {
        background-color: rgb(10, 10, 50);
      }

      &.dark-blue {
        background-color: rgb(44, 44, 218);
      }

      &.green {
        background-color: rgb(0, 131, 0);
      }

      &.light-blue {
        background-color: lightblue;
      }

      &.orange {
        background-color: rgb(214, 140, 3);
      }

      &.pink {
        background-color: rgb(163, 45, 157);
      }

      &.red {
        background-color: rgb(180, 0, 0);
      }

      &.yellow {
        background-color: rgb(241, 241, 0);
      }

      .x {
        // color: yellow;
        color: transparent;
      }

      .y {
        // color: orange;
        color: transparent;
      }
    }
  }

  .controls {
    margin-left: $pixel-size;
  }
}
